@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Mandali);
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mandali', sans-serif;
  margin: 0;
  color: white;
  background-color: #191919;
}

a {
  text-decoration: none;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 400px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(136, 14, 79, 0.15);
  border: 1px solid #e91e63;
}
.card .card__content {
  display: flex;
  height: 25%;
}
.card .card__image-wrapper {
  position: relative;
  max-width: 100%;
  height: 50%;
}
.card .card__image-wrapper::before {
  content: '';
  border: 1px solid #8e24aa;
  background-color: rgba(74, 20, 140, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1rem;
}
.card .card__image-wrapper .image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #8e24aa;
  border-radius: 1rem;
  opacity: 0;
}
.card .card__image-wrapper:hover::before {
  background-color: transparent;
}
.card .card__image-wrapper:hover .image {
  opacity: 1;
}
.card .header__headline,
.card .content__para,
.card .footer__link,
.card .social__link {
  margin: 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 0;
}
.card .header__headline:hover,
.card .content__para:hover,
.card .footer__link:hover,
.card .social__link:hover {
  font-size: 1rem;
}
.card .social__link {
  border-radius: 100%;
}
.card .header__headline {
  border: 1px solid #2196f3;
  background-color: rgba(13, 71, 161, 0.3);
  width: 70%;
}
.card .content__para {
  border: 1px solid #009688;
  background-color: rgba(0, 77, 64, 0.3);
  width: 100%;
}
.card .card__footer {
  display: flex;
  height: 10%;
  padding: 1rem 0 0;
}
.card .footer__social {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.card .footer__social .social__link {
  height: 100%;
  width: 23%;
  margin-left: 1rem;
  cursor: pointer;
  border: 1px solid #ffee58;
  background-color: rgba(253, 216, 53, 0.3);
}
.card .footer__social .one::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: '💭';
  left: -.2rem;
  position: relative;
}
.card .footer__social .two::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: '❤️';
  left: -.1rem;
  position: relative;
}
.card .footer__link {
  height: 100%;
  width: 50%;
  border: 1px solid #ff9800;
  background-color: rgba(230, 81, 0, 0.3);
}
.card .card__header {
  display: flex;
  height: 15%;
  padding: 1rem 0;
}
